<%= form_with(model: team, local: true) do |form| %>

  <div class="field d-grid gap-2">
    팀명
    <%= form.text_field :t_name %><br>
  </div>

  <div class="field d-grid gap-2">
    과목명
    <%= form.text_field :c_name %><br>
  </div>

  <div class="field d-grid gap-2">
    교수명
    <%= form.text_field :p_name %><br>
  </div>

	<div class="field d-grid gap-2">
		<button class="btn btn-lg btn-default" type="submit" style="background:#1C1C1C; color:#F9FAFA;">확인</button>
	</div>
<% end %>
