
<%= form_with(model: comment, local: true) do |form| %>


  <div class="field">
    <%= form.hidden_field :post_id, value: params[:id] %>
  </div>

  <div class="field">
    <%= form.hidden_field :user_id, value: current_user.id%>
  </div>

  <div class="field d-grid gap-2">
    <%= form.text_area :comment %>
  </div>

  <div class="actions">
    <button class="btn btn-lg btn-default" type="submit" style="font-size:12px; background:#1C1C1C; color:#F9FAFA;">댓글달기</button>
  </div>
<% end %>
