// Place all the styles related to the activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
* {
    margin: 0 auto;
    padding: 0;
    list-style: none;
	text-decoration: none;
}

#wrap {
	width:1600px;
}
.activities {
	width:100%;
	padding:20px;
	float:left;
}

.activities table {
	width:100%;
	float:left;
}


.activities table thead {
	font-size: 20px;
}


.activities table td {
	font-size: 17px;
}

.activity_new {
	width:1350px;
	text-align:center;
	padding:20px;
	float:left;
}