#devise_link {
font-size:15px;
color:#fff;
}

#header {
	width:100%;
	height:80px;
	padding-left:20px;
	padding-right:20px;
}

#header .logo {
	width:80px;
	height:80px;
	float:left;
}


#header .logo img{
	width:80px;
	height:80px;
	float:left;
}

#header .strong {
	width:200px;
	height:40px;
	font-size:30px;
	color:#717171;
	float:left;
	margin-left:2%;
	margin-top:0.7%;
}


.back {
	min-height: 100%;
  	min-width: 100%;
    
  /* Set up proportionate scaling */
 	width: 100%;
  	height: auto;
    
  /* Set up positioning */
  	position: fixed;
	background:#F2F2F2;
}

.log_in {
	width:400px;
	height:500px;
	float:none; 
	margin:0 auto;
	border-radius: 20px;
	background:#fff;
}

.log_in .box {
	width:200px;
	float:none; 
	margin:0 auto;
}

.log_in .password_notice {
	width:250px;
	height:55px;
	background:#F9FAFA;
	float:left;
	border-radius: 10px;
	font-size:13px;
	color:#FF5457;
}

.log_in .password_notice p {
	padding-top:11px;	
}

.sign_up {
	width:400px;
	height:700px;
	float:none; 
	margin:0 auto;
	border-radius: 20px;
	background:#fff;
}

.sign_up .password_notice {
	width:200px;
	height:40px;
	background:#F9FAFA;
	float:left;
	border-radius: 10px;
	font-size:13px;
	color:#FF5457;
}

.sign_up .password_notice p {
	padding-top:11px;	
}

.sign_up .box {
	width:200px;
	float:none; 
	margin:0 auto;
}


.user_edit {
	width:400px;
	height:800px;
	float:none; 
	margin:0 auto;
	border-radius: 20px;
	background:#fff;
}

.user_edit .box{
	width:300px;
	float:none; 
	margin:0 auto;
}

.user_edit .password_notice {
	width:300px;
	height:100px;
	background:#F9FAFA;
	float:left;
	border-radius: 10px;
	font-size:13px;
	color:#FF5457;
}

.user_edit .password_notice p {
	padding-top:11px;	
}