* {
    margin: 0 auto;
    padding: 0;
    list-style: none;
	text-decoration: none;
}

.sign_up {
	width:1600px;
	float:left;
	text-align:center;
}

.log_in {
	width:1600px;
	float:left;
	text-align:center;
}

.user_edit {
	width:1600px;
	float:left;
	text-align:center;
}