// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
* {
    margin: 0 auto;
    padding: 0;
    list-style: none;
	text-decoration: none;
	
}

#wrap_main {
	width:90%;
	padding:20px;
	float:none; 
	margin:0 auto;
}



#wrap_main a {
	text-decoration:none;
}

.user_profile {
	width:100%;
	float: left;
	font-size: 20px;
}


.team_list {
	width:100%;
	float: left;
	margin-top:40px;
}

.team_list .box {
	width:100%;
	height:140px;
	font-size: 20px;
	margin-top:20px;
	border: 1px solid #E6E6E6;
	padding:20px;
	float:left;
}

.card .card-body .card-subtitle img {
	width:56px;
	height:24.5px;
}

.card .buttons {
	width: 17%;
	float: right;
}

.new_team {
	width:100%;
	height:100px;
	margin-top: 20px;
	float:left;
}

.new_team a {
	width:100%;
	height:100px;
	font-size: 30px;
	text-align: center;
	padding-top:25px;
	float:left;
	background: #E6E6E6;
}


.banner_bono {
	width: 100%;
	text-align: center;
	float:none; 
	margin:0 auto;
}

.banner_bono .bono_img {
	width:100%;
}

.banner_bono .bono_img img {
	width:667px;
	height:474px;
}

.banner_bono strong {
	font-size:80px;
}

.banner_bono p {
	font-size:20px;
}


.img1 {
	width:730px;
	height:230px;
	float:none; 
	margin:0 auto;
}

.img1 img {
	width:500px;
	height:120px;
	margin-top:110px;
	float:left;
}


.img1 .dora {
	width:230px;
	height:230px;
	float:left;
	overflow:hidden;
}

.img1 .dora img{
	width:300px;
	height:300px;
	float:left;
	margin-left:-30px;
	margin-top:-30px;
}

.img1_box {
	width:1000px;
	height:500px;
	background:#abc;
	float:none; 
	margin:0 auto;
}



.img2 {
	width:780px;
	height:230px;
	float:none; 
	margin:0 auto;
}

.img2 img {
	width:600px;
	height:120px;
	margin-top:110px;
	float:left;
}


.img2 .keroro {
	width:230px;
	height:230px;
	float:left;
	overflow:hidden;
	margin-left:-50px;
}

.img2 .keroro img{
	width:300px;
	height:300px;
	float:left;
	margin-left:-30px;
	margin-top:-30px;
}

.img2_box {
	width:1000px;
	height:500px;
	float:none; 
	margin:0 auto;
	background:#abc;
}