// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.post_contents {
	width: 75%;
    height: 83vh;
	padding: 20px;
	margin-left:50px;
    float: left;
	background:#fff;
}

.posts {
	width:100%;
	padding:20px;
	float:left;
}


.comments_contents {
	width: 100%;
    height: 30vh;
	padding: 20px;
    float: left;
	
}

.comments {
	width:94%;
	padding:20px;
	background:#F9FAFA;
}
