// Place all the styles related to the teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
* {
    margin: 0 auto;
    padding: 0;
    list-style: none;
	text-decoration: none;
}

#wrap_team {
	width:80%;
}

.user {
	width:5%;
	height:60%;
	float:right;
	background:#F2F2F2;
	text-align:center;
	border-radius: 30px;
	margin-top:15px;
}

.category {
    width: 230px;
    height: 83vh;
    float: left;
	border-radius: 20px;
	background:#fff;
}

.category .team_main {
	height:10%;
}

.category .team_main a {
	width: 230px;
	height: 70px;
	float: left;
	padding: 20px;
	font-size:20px;
}


.category .nav{
	width: 230px; 
	height:80%;
}


.category .nav li {
	width: 230px; 
	margin-left:-35px;
}


.category .nav li a {
	width: 230px; 
	padding: 20px; 
	display: block; 
	font-size:15px;
	margin-left:1px;
}


.category .nav li a:hover{
	background: rgba(0,0,0,0.1);
}


.category .nav li ul.submenu{
	display: none;
}

.contents {
	width: 75%;
    height: 83vh;
	padding-left: 20px;
	padding-right: 20px;
	margin-left:50px;
    float: left;
	text-align: center; 
	background:#fff;

}
.contents a {
	width:300px;
	height:200px;
}



.contents .calender {
	width:80%;
}



.team_edit {
	width:400px;
	float:none; 
	margin:0 auto;
}

.team_edit .box{
	width:200px;
	float:none; 
	margin:0 auto;
}

.team_new {
	width:300px;
	height:470px;
	float:none; 
	margin:0 auto;
	border-radius: 20px;
	background:#fff;
	
	margin-top:100px;
}

.team_new .box{
	width:200px;
	float:none; 
	margin:0 auto;
}

#admin_connect {
	width:90%;
	padding:20px;
	float:none; 
	margin:0 auto;
	margin-top:10%;
}

#with {
	width:80%;
}